<a href="https://colab.research.google.com/github/Davron030901/Daily_python/blob/main/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Allow Duplicates*
Since lists are indexed, lists can have items with the same value:

In [1]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]

print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

*List Length*
To determine how many items a list has, use the *len()* function:

In [2]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

*List Items - Data Types*
List items can be of any data type:

In [3]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

A list can contain different data types:

In [4]:
list1 = ["abc", 34, True, 40, "male"]

*type()*
From Python's perspective, lists are defined as objects with the data type 'list':

**type()**
From Python's perspective, lists are defined as objects with the data type 'list':

*<class 'list'>*

In [5]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

*The list() Constructor*
It is also possible to use the *list()* constructor when creating a new list

In [6]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

**Python Collections (Arrays)**

There are four collection data types in the Python programming language:

*List* is a collection which is ordered and changeable. Allows duplicate members.

*Tuple* is a collection which is ordered and unchangeable. Allows duplicate members.

*Set* is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.

*Dictionary* is a collection which is ordered** and changeable. No duplicate members.

*Set items are unchangeable, but you can remove and/or add items whenever you like.

**As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

In [7]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [8]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

Range of Indexes

In [9]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [10]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [11]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [12]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

*Check if Item Exist*s
To determine if a specified item is present in a list use the in keyword:

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Change Item Value

In [13]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

Change a Range of Item Values

In [14]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [15]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [17]:
thislist = ["apple", "banana", "cherry"]
thislist[1:4] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

Insert Items

In [18]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

Append Items

In [19]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

Insert Items

In [20]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

Extend List

In [21]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

Add Any Iterable

The *extend()* method does not have to append lists, you can add any iterable object *(tuples, sets, dictionaries etc.)*.

In [22]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

**Remove Specified Item**

In [23]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [24]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

Remove Specified Index
The *pop()* method removes the specified index.

In [25]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [26]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

The **del** keyword also removes the specified index:

In [27]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

The del keyword can also delete the list completely.

In [28]:
thislist = ["apple", "banana", "cherry"]
del thislist
print(thislist) #this will cause an error because you have succ

NameError: name 'thislist' is not defined

Clear the List
The *clear()* method empties the list.

The list still remains, but it has no content.

In [29]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

Loop Through a List
You can loop through the list items by using a for loop:

In [30]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

Loop Through the Index Numbers
You can also loop through the list items by referring to their index number.

Use the *range() and len()* functions to create a suitable iterable.

In [31]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry


**Using a While Loop**

You can loop through the list items by using a while loop.

Use the *len()* function to determine the length of the list, then start at 0 and loop your way through the list items by referring to their indexes.

Remember to increase the index by 1 after each iteration.

In [32]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

**Looping Using List Comprehension**

List Comprehension offers the shortest syntax for looping through lists:

In [ ]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

List Comprehension

In [33]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [34]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

*The Syntax*
*newlist = [expression for item in iterable if condition == True]*
The return value is a new list, leaving the old list unchanged.

Condition
The condition is like a filter that only accepts the items that valuate to True.

In [38]:
newlist = [x for x in fruits if 'a' not in x]
print(newlist)

['cherry', 'kiwi']

In [39]:
newlist = [x for x in fruits]
print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [41]:
newlist = [x for x in range(10) if x < 5]
print(newlist)

[0, 1, 2, 3, 4]

In [42]:
newlist = [x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [44]:
newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

*Sort List Alphanumerically*

List objects have a *sort()* method that will sort the list alphanumerically, ascending, by default:

In [45]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [46]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

*Sort Descending*
To sort descending, use the keyword argument reverse = True

In [47]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [48]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

*Customize Sort Function*
You can also customize your own function by using the keyword argument *key = function*.

The function will return a number that will be used to sort the list (the lowest number first):

In [49]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

*Case Insensitive Sort*

By default the *sort()* method is case sensitive, resulting in all capital letters being sorted before lower case letters:

In [50]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [51]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

**Reverse Order**

What if you want to reverse the order of a list, regardless of the alphabet?

The *reverse()* method reverses the current sorting order of the elements.

In [52]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

*Copy a List*
You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

Use the *copy()* method
You can use the built-in List method *copy()* to copy a list.

In [53]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

Use the *list()* method
Another way to make a copy is to use the built-in method *list()*

In [54]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

Use the slice Operator
You can also make a copy of a list by using the : *(slice)* operator.

In [55]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

*Join Two Lists*

There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

In [56]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [57]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

Or you can use the *extend()* method, where the purpose is to add elements from one list to another list:

In [58]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

List Methods
Python has a set of built-in methods that you can use on lists.

*append()*	Adds an element at the end of

the list

Syntax

*list.append(elmnt)*

Parameter Values
Parameter	Description
elmnt	Required. An element of any type (string, number, object etc.)

In [59]:
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")

*clear()*	Removes all the elements from the list

Definition and Usage
The *clear()* method removes all the elements from a list.

Syntax
*list.clear()*
Parameter Values
No parameters

In [61]:
fruits = ['apple', 'banana', 'cherry', 'orange']

fruits.clear()
print(fruits)

[]

*copy()*	Returns a copy of the list

Definition and Usage
The *copy()* method returns a copy of the specified list.

Syntax
*list.copy()*
Parameter Values
No parameters

In [63]:
fruits = ['apple', 'banana', 'cherry', 'orange']

x = fruits.copy()
print(x)

['apple', 'banana', 'cherry', 'orange']

*count()*	Returns the number of elements with the specified value

Definition and Usage
The *count()* method returns the number of elements with the specified value.

Syntax
*list.count(value)*
Parameter Values
Parameter	Description
value	Required. Any type (string, number, list, tuple, etc.). The value to search for.

In [65]:
fruits = ['apple', 'banana', 'cherry']

x = fruits.count("cherry")
print(x)

1

In [66]:
points = [1, 4, 2, 9, 7, 8, 9, 3, 1]

x = points.count(9)
print(x)

2

*extend()*	Add the elements of a list (or any iterable), to the end of the current list

Definition and Usage
The *extend()* method adds the specified list elements (or any iterable) to the end of the current list.

Syntax
list.extend(iterable)
Parameter Values
Parameter	Description
iterable	Required. Any iterable (list, set, tuple, etc.)

In [68]:
fruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)
print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [69]:
fruits = ['apple', 'banana', 'cherry']

points = (1, 4, 5, 9)

fruits.extend(points)
print(fruits)

['apple', 'banana', 'cherry', 1, 4, 5, 9]

*index()*	Returns the index of the first element with the specified value

Definition and Usage
The *index()* method returns the position at the first occurrence of the specified value.

Syntax
*list.index(elmnt)*
Parameter Values
Parameter	Description
elmnt	Required. Any type (string, number, list, etc.). The element to search for

Note: The index() method only returns the first occurrence of the value.

In [70]:
fruits = ['apple', 'banana', 'cherry']

x = fruits.index("cherry")
print(x)

2

In [72]:
fruits = [4, 55, 64, 32, 16, 32]

x = fruits.index(32)
print(x)

3

*insert()*	Adds an element at the specified position

Definition and Usage
The *insert()* method inserts the specified value at the specified position.

Syntax
*list.insert(pos, elmnt)*
Parameter Values
Parameter	Description
pos	Required. A number specifying in which position to insert the value
elmnt	Required. An element of any type (string, number, object etc.)

In [73]:
fruits = ['apple', 'banana', 'cherry']

fruits.insert(1, "orange")
print(fruits)

['apple', 'orange', 'banana', 'cherry']

*pop()*	Removes the element at the specified position

Definition and Usage
The *pop()* method removes the element at the specified position.

Syntax
*list.pop(pos)*
Parameter Values
Parameter	Description
pos	Optional. A number specifying the position of the element you want to remove, default value is -1, which returns the last item

In [74]:
fruits = ['apple', 'banana', 'cherry']

fruits.pop(1)

'banana'

Note: The *pop()* method returns removed value.

In [76]:
fruits = ['apple', 'banana', 'cherry']

x = fruits.pop(1)
print(x)

banana

*remove()*	Removes the item with the specified value

Definition and Usage
The *remove()* method removes the first occurrence of the element with the specified value.

Syntax
*list.remove(elmnt)*
Parameter Values
Parameter	Description
elmnt	Required. Any type (string, number, list etc.) The element you want to remove

In [78]:
fruits = ['apple', 'banana', 'cherry']

fruits.remove("banana")
print(fruits)

['apple', 'cherry']

*reverse()*	Reverses the order of the list

Definition and Usage
The *reverse()* method reverses the sorting order of the elements.

Syntax
*list.reverse()*
Parameter Values
No parameters

Related Pages
The built-in function *reversed()* returns a reversed iterator object.

In [79]:
fruits = ['apple', 'banana', 'cherry']

fruits.reverse()
print(fruits)

['cherry', 'banana', 'apple']

*sort()*	Sorts the list

In [81]:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort()
print(cars)

['BMW', 'Ford', 'Volvo']

Definition and Usage
The *sort()* method sorts the list ascending by default.

You can also make a function to decide the sorting *criteria(s)*.

Syntax
*list.sort(reverse=True|False, key=myFunc)*
Parameter Values
Parameter	Description
reverse	Optional. reverse=True will sort the list descending. Default is reverse=False
key	Optional. A function to specify the sorting *criteria(s)*

In [83]:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort(reverse=True)
print(cars)

['Volvo', 'Ford', 'BMW']

In [84]:
# A function that returns the length of the value:
def myFunc(e):
  return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(key=myFunc)

In [85]:
# A function that returns the 'year' value:
def myFunc(e):
  return e['year']

cars = [
  {'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}
]

cars.sort(key=myFunc)

In [86]:
# A function that returns the length of the value:
def myFunc(e):
  return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(reverse=True, key=myFunc)