<a href="https://colab.research.google.com/github/Davron030901/Daily_python/blob/main/OOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Person:
  # method Dander
  # Must enter self
    def __init__(self,name,age):
        self.name = name
        self.age = age

    def display_inf0(self):
        print(f"Name: {self.name}\nAge: {self.age}")

    def say(self,message):
        print(f"{self.name} says: {message}")

    def __str__(self):
        return f"Name: {self.name}\nAge: {self.age}"
    def __del__(self):
        print("Object is deleted")
bilol=Person("Bilol",20)
print(bilol.name)
print(bilol.age)
bilol.name="Bilolbek"
print(bilol.name)
bilol.age=21
print(bilol.age)
bilol.display_inf0()
bilol.say("Hello World")
print(bilol)

def create_person():
    name = input("Enter name: ")
    age = int(input("Enter age: "))
    person = Person(name, age)
    print(person)
create_person()
print("Done")

Bilol
20
Bilolbek
21
Name: Bilolbek
Age: 21
Bilolbek says: Hello World
Name: Bilolbek
Age: 21
Enter name: Davron
Enter age: 12
Name: Davron
Age: 12
Object is deleted
Done

In [ ]:
class Home:
  # Atribute
  name="bilol"
  def sef(self):
    print(self.name)
bilol=Home()
bilol.name="Bilolbek"
bilol.sef()
print(bilol.name)

Bilolbek
Bilolbek

In [ ]:
class Person:
  def __init__(self,name,age,gender):
    self.name=name
    self.age=age
    self.gender=gender
  def display_info(self):
    print(f"Name: {self.name}\nAge: {self.age}")
class Student(Person):
  def __init__(self,name,age,gender,student_id,university,group):
    super().__init__(name,age,gender)
    self.student_id=student_id
    self.university=university
    self.group=group
  def display_info(self):
    super().display_info()
    print(f"Student ID: {self.student_id}\nUniversity: {self.university}\nGroup: {self.group}")

class Teacher(Person):
  def __init__(self,name,age,gender,teacher_id,university,department):
    super().__init__(name,age,gender)
    self.teacher_id=teacher_id
    self.university=university
    self.department=department
  def display_info(self):
    super().display_info()
    print(f"Teacher ID: {self.teacher_id}\nUniversity: {self.university}\nDepartment: {self.department}")
class Worker(Person):
  def __init__(self,name,age,gender,worker_id,company,position):
    super().__init__(name,age,gender)
    self.worker_id=worker_id
    self.company=company
    self.position=position
  def display_info(self):
    super().display_info()
    print(f"Worker ID: {self.worker_id}\nCompany: {self.company}\nPosition: {self.position}")

In [ ]:
sardor=Student("Sardor",23,"Male",12321,"TUIT","Python")
sardor.display_info()
asil=Worker("Asil",23,"Male",12321,"TUIT","Python")
asil.display_info()
gani=Teacher("Ga\'ni",23,"Male",12321,"TUIT","Python")
gani.display_info()

Name: Sardor
Age: 23
Student ID: 12321
University: TUIT
Group: Python
Name: Asil
Age: 23
Worker ID: 12321
Company: TUIT
Position: Python
Name: Ga'ni
Age: 23
Teacher ID: 12321
University: TUIT
Department: Python

In [ ]:
class New:
  sale=13
  count=4
first=New()
first.some="Value"
first.new='sometext'
print(first.some)
print(first.new)
print(first.sale)
print(first.count)
setattr(first,"yangi","new")
hasattr(first,"yangi")
getattr(first,"yangi")
delattr(first,"yangi")

Value
sometext
13
4

In [ ]:
print(first.__dict__)

{'some': 'Value', 'new': 'sometext'}

In [ ]:
del first.some
print(first.__dict__)

{'new': 'sometext'}

In [ ]:
# class harakar va atributlar jamlanmasi
class Car:
  def __init__(self,brand,model,year):
    self.brand=brand
    self.model=model
    self.year=year

  def set_data(self):
    return "some text"

  def get_data(self):
    return f"Brand: {self.brand} \n Model: {self.model} \n Year: {self.year}"

first=Car("Chevrolet","Malibu",2023)
print(first.set_data())
print(first.get_data())

some text
Brand: Chevrolet
 Model: Malibu
 Year: 2023

In [ ]:
from pprint import pprint

# Oddiy ma'lumotlar to'plami
data = {
    'talabalar': [
        {'ism': 'Aziz', 'yosh': 20, 'kurs': 2},
        {'ism': 'Malika', 'yosh': 19, 'kurs': 1},
        {'ism': 'Sobir', 'yosh': 21, 'kurs': 3}
    ],
    'fanlar': ['Matematika', 'Fizika', 'Informatika'],
    'o\'qituvchilar': {
        'Matematika': 'Karimov A.',
        'Fizika': 'Sobirov B.',
        'Informatika': 'Azimov C.'
    }
}

# Oddiy print bilan
print("Oddiy print:")
print(data)

print("\npprint bilan:")
pprint(data)

Oddiy print:
{'talabalar': [{'ism': 'Aziz', 'yosh': 20, 'kurs': 2}, {'ism': 'Malika', 'yosh': 19, 'kurs': 1}, {'ism': 'Sobir', 'yosh': 21, 'kurs': 3}], 'fanlar': ['Matematika', 'Fizika', 'Informatika'], "o'qituvchilar": {'Matematika': 'Karimov A.', 'Fizika': 'Sobirov B.', 'Informatika': 'Azimov C.'}}

pprint bilan:
{'fanlar': ['Matematika', 'Fizika', 'Informatika'],
 "o'qituvchilar": {'Fizika': 'Sobirov B.',
                   'Informatika': 'Azimov C.',
                   'Matematika': 'Karimov A.'},
 'talabalar': [{'ism': 'Aziz', 'kurs': 2, 'yosh': 20},
               {'ism': 'Malika', 'kurs': 1, 'yosh': 19},
               {'ism': 'Sobir', 'kurs': 3, 'yosh': 21}]}

In [ ]:
# Ma'lum chuqurlikkacha chop etish
pprint(data, depth=2)

# Maksimal qator uzunligini belgilash
pprint(data, width=40)

# String formatida olish
from pprint import pformat
formatted_str = pformat(data)

Object is deleted
{'fanlar': ['Matematika', 'Fizika', 'Informatika'],
 "o'qituvchilar": {'Fizika': 'Sobirov B.',
                   'Informatika': 'Azimov C.',
                   'Matematika': 'Karimov A.'},
 'talabalar': [{...}, {...}, {...}]}
{'fanlar': ['Matematika',
            'Fizika',
            'Informatika'],
 "o'qituvchilar": {'Fizika': 'Sobirov '
                             'B.',
                   'Informatika': 'Azimov '
                                  'C.',
                   'Matematika': 'Karimov '
                                 'A.'},
 'talabalar': [{'ism': 'Aziz',
                'kurs': 2,
                'yosh': 20},
               {'ism': 'Malika',
                'kurs': 1,
                'yosh': 19},
               {'ism': 'Sobir',
                'kurs': 3,
                'yosh': 21}]}

In [ ]:
class Car:
    def __init__(self, brand, model, year):
        self.brand = brand
        self.model = model
        self.year = year

    def get_data(self):
        return f"Brand: {self.brand}\nModel: {self.model}\nYear: {self.year}"

class Engine_info:
    def __init__(self, hp, oil, cyleader, light):
        self.hp = hp
        self.oil = oil
        self.cyleader = cyleader
        self.light = light

class SuperCar(Car, Engine_info):
    def __init__(self, brand, model, year, hp, oil, cyleader, light, color, engine, fuel, vencile, transmission):
        Car.__init__(self, brand, model, year)
        Engine_info.__init__(self, hp, oil, cyleader, light)

        self.color = color
        self.engine = engine
        self.fuel = fuel
        self.vencile = vencile
        self.transmission = transmission

    def get_data(self):
        return Car.get_data(self) + f"""\nColor: {self.color}\nEngine: {self.engine}\nFuel: {self.fuel}\nVencile: {self.vencile}\nTransmission: {self.transmission}\nHorse power: {self.hp}\nLight: {self.light}"""

# Endi obyekt yaratish mumkin
my_supercar = SuperCar(
    brand="Lamborghini",
    model="Aventador",
    year=2023,
    hp=770,
    oil="Premium",
    cyleader=12,
    light="LED Matrix",
    color="Metallic Black",
    engine="6.5L V12",
    fuel="Petrol",
    vencile="AWD",
    transmission="7-speed ISR"
)

# Ma'lumotlarni ko'rish
print(my_supercar.get_data())

Brand: Lamborghini
Model: Aventador
Year: 2023
Color: Metallic Black
Engine: 6.5L V12
Fuel: Petrol
Vencile: AWD
Transmission: 7-speed ISR
Horse power: 770
Light: LED Matrix

In [ ]:
# Ferrari obyekti
ferrari = SuperCar(
    brand="Ferrari",
    model="SF90 Stradale",
    year=2024,
    hp=1000,
    oil="Premium 98",
    cyleader=8,
    light="LED",
    color="Rosso Corsa",
    engine="4.0L V8 Hybrid",
    fuel="Petrol-Electric",
    vencile="AWD",
    transmission="8-speed DCT"
)

# Bugatti obyekti
bugatti = SuperCar(
    brand="Bugatti",
    model="Chiron",
    year=2023,
    hp=1500,
    oil="Premium 102",
    cyleader=16,
    light="Matrix LED",
    color="French Blue",
    engine="8.0L W16",
    fuel="Petrol",
    vencile="AWD",
    transmission="7-speed DSG"
)

# McLaren obyekti
mclaren = SuperCar(
    brand="McLaren",
    model="765LT",
    year=2024,
    hp=765,
    oil="Premium 95",
    cyleader=8,
    light="Adaptive LED",
    color="Papaya Spark",
    engine="4.0L V8 Twin-Turbo",
    fuel="Petrol",
    vencile="RWD",
    transmission="7-speed SSG"
)
print("\nFerrari ma'lumotlari:")
print(ferrari.get_data())

print("\nBugatti ma'lumotlari:")
print(bugatti.get_data())

print("\nMcLaren ma'lumotlari:")
print(mclaren.get_data())

Ferrari ma'lumotlari:
Brand: Ferrari
Model: SF90 Stradale
Year: 2024
Color: Rosso Corsa
Engine: 4.0L V8 Hybrid
Fuel: Petrol-Electric
Vencile: AWD
Transmission: 8-speed DCT
Horse power: 1000
Light: LED

Bugatti ma'lumotlari:
Brand: Bugatti
Model: Chiron
Year: 2023
Color: French Blue
Engine: 8.0L W16
Fuel: Petrol
Vencile: AWD
Transmission: 7-speed DSG
Horse power: 1500
Light: Matrix LED

McLaren ma'lumotlari:
Brand: McLaren
Model: 765LT
Year: 2024
Color: Papaya Spark
Engine: 4.0L V8 Twin-Turbo
Fuel: Petrol
Vencile: RWD
Transmission: 7-speed SSG
Horse power: 765
Light: Adaptive LED

In [ ]:
class Car:
  def __init__(self,km):
    self.__km=km
  def get_km(self):
    return self.__km
  def set_km(self,km):
    self.__km=km
  # def del_km(self):
  #   del self._km
new=Car(100)
print(new.get_km())
new.set_km(200)
print(new.get_km())

100
200

In [ ]:
class Shape:
  def __init__(self,name):
    self.name=name
  def area(self):
    pass
  def perimeter(self):
    pass

class Rectangle(Shape):
  def __init__(self,name,width,height):
    super().__init__(name)
    self.width=width
    self.height=height
  def area(self):
    return self.width*self.height
  def perimeter(self):
    return 2*(self.width+self.height)

class Triangle(Shape):
  def __init__(self,name,base,height):
    super().__init__(name)
    self.base=base
    self.height=height
  def area(self):
    return 0.5*self.base*self.height
  def perimeter(self):
    return self.base*3

class Circle(Shape):
  def __init__(self,name,radius):
    super().__init__(name)
    self.radius=radius
  def area(self):
    return 3.14*self.radius**2
  def perimeter(self):
    return 2*3.14*self.radius

class Square(Shape):
  def __init__(self,name,side):
    super().__init__(name)
    self.side=side
  def area(self):
    return self.side**2
  def perimeter(self):
    return 4*self.side

class Parallelogram(Shape):
  def __init__(self,name,base,height):
    super().__init__(name)
    self.base=base
    self.height=height
  def area(self):
    return self.base*self.height
  def perimeter(self):
    return 2*(self.base+self.height)

class Rhombus(Shape):
  def __init__(self,name,diagonal1,diagonal2):
    super().__init__(name)
    self.diagonal1=diagonal1
    self.diagonal2=diagonal2
  def area(self):
    return 0.5*self.diagonal1*self.diagonal2
  def perimeter(self):
    return 4*min(self.diagonal1,self.diagonal2)

class Trapezoid(Shape):
  def __init__(self,name,base1,base2,height):
    super().__init__(name)
    self.base1=base1
    self.base2=base2
    self.height=height
  def area(self):
    return 0.5*(self.base1+self.base2)*self.height
  def perimeter(self):
    return self.base1+self.base2+self.height

class Ellipse(Shape):
  def __init__(self,name,radius1,radius2):
    super().__init__(name)
    self.radius1=radius1
    self.radius2=radius2
  def area(self):
    return 3.14*self.radius1*self.radius2
  def perimeter(self):
    return 2*3.14*((self.radius1**2+self.radius2**2)**0.5)

class Cube(Shape):
  def __init__(self,name,side):
    super().__init__(name)
    self.side=side
  def area(self):
    return 6*self.side**2
  def perimeter(self):
    return 12*self.side

class Sphere(Shape):
  def __init__(self,name,radius):
    super().__init__(name)
    self.radius=radius
  def area(self):
    return 4*3.14*self.radius**2
  def perimeter(self):
    return 2*3.14*self.radius

class Cylinder(Shape):
  def __init__(self,name,radius,height):
    super().__init__(name)
    self.radius=radius
    self.height=height
  def area(self):
    return  2*3.14*self.radius*(self.radius+self.height)
  def perimeter(self):
    return 2*3.14*self.radius

class Cone(Shape):
  def __init__(self,name,radius,height):
    super().__init__(name)
    self.radius=radius
    self.height=height
  def area(self):
    return 3.14*self.radius*(self.radius+((self.height**2+self.radius**2)**0.5))
  def perimeter(self):
    return 2*3.14*self.radius

class Pyramid(Shape):
  def __init__(self,name,base,height):
    super().__init__(name)
    self.base=base
    self.height=height
  def area(self):
    return 0.5*self.base*self.height
  def perimeter(self):
    return 3*self.base

class Hemisphere(Shape):
  def __init__(self,name,radius):
    super().__init__(name)
    self.radius=radius
  def area(self):
    return 3*3.14*self.radius**2
  def perimeter(self):
    return 2*3.14*self.radius

class Torus(Shape):
  def __init__(self,name,outer_radius,inner_radius):
    super().__init__(name)
    self.outer_radius=outer_radius
    self.inner_radius=inner_radius
  def area(self):
    return 2*3.14*self.outer_radius*(self.outer_radius+self.inner_radius)
  def perimeter(self):
    return 2*3.14*self.outer_radius

class Octahedron(Shape):
  def __init__(self,name,side):
    super().__init__(name)
    self.side=side
  def area(self):
    return 2*self.side**2

class Tetrahedron(Shape):
  def __init__(self,name,side):
    super().__init__(name)
    self.side=side
  def area(self):
    return self.side**2*3**0.5

  def perimeter(self):
    return 4*self.side

class Icosahedron(Shape):
  def __init__(self,name,side):
    super().__init__(name)
    self.side=side
  def area(self):
    return 5*self.side**2*(5+2**0.5)

  def perimeter(self):
    return 4*self.side

class Dodecahedron(Shape):
  def __init__(self,name,side):
    super().__init__(name)
    self.side=side
  def area(self):
    return 3*self.side**2*(3+2**0.5)
  def perimeter(self):
    return 12*self.side

class Tetrahedron(Shape):
  def __init__(self,name,side):
    super().__init__(name)
    self.side=side
  def area(self):
    return 3*self.side**2*(3+2**0.5)

class Tetrahedron(Shape):
  def __init__(self,name,side):
    super().__init__(name)
    self.side=side
  def area(self):
    return 3*self.side**2*(3+2**0.5)
  def perimeter(self):
    return 4*self.side

class Hexagon(Shape):
  def __init__(self,name,side):
    super().__init__(name)
    self.side=side
  def area(self):
    return 3*self.side**2*(3+2**0.5)
  def perimeter(self):
    return 6*self.side

In [ ]:
obj1=Shape("Shape")
obj2=Rectangle("Rectangle",10,20)
obj3=Triangle("Triangle",10,20)
obj4=Circle("Circle",10)
obj5=Square("Square",10)
obj6=Parallelogram("Parallelogram",10,20)
obj7=Rhombus("Rhombus",10,20)
obj8=Trapezoid("Trapezoid",10,20,30)
obj9=Ellipse("Ellipse",10,20)
obj10=Cube("Cube",10)
obj11=Sphere("Sphere",10)
obj12=Cylinder("Cylinder",10,20)
obj13=Cone("Cone",10,20)
obj14=Pyramid("Pyramid",10,20)
obj15=Hemisphere("Hemisphere",10)
obj16=Torus("Torus",10,20)
obj17=Octahedron("Octahedron",10)
obj18=Tetrahedron("Tetrahedron",10)
obj19=Icosahedron("Icosahedron",10)
obj20=Dodecahedron("Dodecahedron",10)
obj21=Hexagon("Hexagon",10)

In [ ]:
for obj in [obj1,obj2,obj3,obj4,obj5,obj6,obj7,obj8,obj9,obj10,obj11,obj12,obj13,obj14,obj15,obj16,obj17,obj18,obj19,obj20,obj21]:
  print(f'Shape name:{obj.name}\n Area:{obj.area()}, Perimeter:{obj.perimeter()}\n')

Shape name:Shape
 Area:None, Perimeter:None

Shape name:Rectangle
 Area:200, Perimeter:60

Shape name:Triangle
 Area:100.0, Perimeter:30

Shape name:Circle
 Area:314.0, Perimeter:62.800000000000004

Shape name:Square
 Area:100, Perimeter:40

Shape name:Parallelogram
 Area:200, Perimeter:60

Shape name:Rhombus
 Area:100.0, Perimeter:40

Shape name:Trapezoid
 Area:450.0, Perimeter:60

Shape name:Ellipse
 Area:628.0, Perimeter:140.42506898698682

Shape name:Cube
 Area:600, Perimeter:120

Shape name:Sphere
 Area:1256.0, Perimeter:62.800000000000004

Shape name:Cylinder
 Area:1884.0000000000002, Perimeter:62.800000000000004

Shape name:Cone
 Area:1016.1253449349341, Perimeter:62.800000000000004

Shape name:Pyramid
 Area:100.0, Perimeter:30

Shape name:Hemisphere
 Area:942.0, Perimeter:62.800000000000004

Shape name:Torus
 Area:1884.0000000000002, Perimeter:62.800000000000004

Shape name:Octahedron
 Area:200, Perimeter:None

Shape name:Tetrahedron
 Area:1324.2640687119285, Perimeter:40

Shape name:Icosahedron
 Area:3207.1067811865473, Perimeter:40

Shape name:Dodecahedron
 Area:1324.2640687119285, Perimeter:120

Shape name:Hexagon
 Area:1324.2640687119285, Perimeter:60

In [ ]:
from abc import ABC,abstractmethod
class Animal(ABC):
  def __init__(self,name,age):
    self.name=name
    self.age=age
  @abstractmethod
  def make_sound(self):
    pass
class Dog(Animal):
  def get_data(self):
    return f'Name:{self.name}, Age:{self.age}'
  def make_sound(self):
    return "Woof!"
class Cat(Animal):
  def get_data(self):
    return f'Name:{self.name}, Age:{self.age}'
  def make_sound(self):
    return "Meow!"
class Bird(Animal):
  def get_data(self):
    return f'Name:{self.name}, Age:{self.age}'
  def make_sound(self):
    return "Chirp!"

In [ ]:
objects2=Dog("Dog",10)
objects3=Cat("Cat",10)
objects4=Bird("Bird",10)

In [ ]:
for obj in [objects2,objects3,objects4]:
  print(f'Name:{obj.name}, Age:{obj.age}, Sound:{obj.make_sound()}\n')

Name:Dog, Age:10, Sound:Woof!

Name:Cat, Age:10, Sound:Meow!

Name:Bird, Age:10, Sound:Chirp!

In [ ]:
class Birds(ABC):
  def __init__(self,name,age):
    self.name=name
    self.age=age
  @abstractmethod
  def fly(self):
    pass
  @abstractmethod
  def swim(self):
    pass

class Eagle(Birds):
  def get_data(self):
    return f'Name:{self.name}, Age:{self.age}'
  def swim(self):
    return False
  def fly(self):
    return True

class Penguin(Birds):
  def get_data(self):
    return f'Name:{self.name}, Age:{self.age}'
  def swim(self):
    return True
  def fly(self):
    return False

class Parrot(Birds):
  def get_data(self):
    return f'Name:{self.name}, Age:{self.age}'
  def fly(self):
    return False
  def swim(self):
    return False

In [ ]:
objs2=Eagle("Eagle",10)
objs3=Penguin("Penguin",10)
objs4=Parrot("Parrot",10)

In [ ]:
for obj in [objs2,objs3,objs4]:
  print(f'Name:{obj.name}, Age:{obj.age}, Swim:{obj.swim()}, Fly:{obj.fly()}\n')

Name:Eagle, Age:10, Swim:False, Fly:True

Name:Penguin, Age:10, Swim:True, Fly:False

Name:Parrot, Age:10, Swim:False, Fly:False

In [ ]:
class Bird:
    def __init__(self, name, age):
        self.name = name
        self.age = age

# Ob'ekt yaratish
bird = Bird("Sparrow", 3)

# Atributni ko'rish
print(bird.name)  # Sparrow

# Atributni o'chirish
del bird.name
# print(bird.name)  # AttributeError: 'Bird' object has no attribute 'name'
# Atributni o'chirgandan keyin
# print(bird.name)  # Bu xato beradi: AttributeError: 'Bird' object has no attribute 'name'

Sparrow

In [ ]:
arr=[[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15],[16,17,18,19,20],[21,22,23,24,25]]
sum=0
for i in range(len(arr)):
  for j in range(len(arr[i])):
    if j%2==0:
      sum+=arr[i][j]
    if i==2 and j%2==1:
      sum+=arr[i][j]
print(sum)

221

In [ ]:
lists=[1,2,3,4,3,2,1,2,3]
count=0
for i in range(len(lists)-2):
  if abs(lists[i]-lists[i+1])!=abs(lists[i+1]-lists[i+2]):
    count+=1
    break
print(count==0)

True

In [40]:
lists = [[],[],[],[],[]]
for i in range(5):
  for j in range(5):
    if i%2==1 and j==2:
      lists[i].append(1)
    elif i==2 and j%2==1:
      lists[i].append(1)
    else:
      lists[i].append(0)
lists

[[0, 0, 0, 0, 0],
 [0, 0, 1, 0, 0],
 [0, 1, 0, 1, 0],
 [0, 0, 1, 0, 0],
 [0, 0, 0, 0, 0]]

In [6]:
lists = []
count=0
for i in range(5):
  i=[]
  lists.append(i)
  for j in range(5):
    if count%2==1 and j==2:
      i.append(1)
    elif count==2 and j%2==1:
      i.append(1)
    else:
      i.append(0)
  count+=1
lists

[[0, 0, 0, 0, 0],
 [0, 0, 1, 0, 0],
 [0, 1, 0, 1, 0],
 [0, 0, 1, 0, 0],
 [0, 0, 0, 0, 0]]

In [9]:
lists = []
count=0
for i in range(5):
  i=[]
  lists.append(i)
  for j in range(5):
    if count%2==1 and j%2==1:
      i.append("#")
    else:
      i.append(0)
  count+=1
lists

[[0, 0, 0, 0, 0],
 [0, '#', 0, '#', 0],
 [0, 0, 0, 0, 0],
 [0, '#', 0, '#', 0],
 [0, 0, 0, 0, 0]]

In [27]:
arr=[
    [1 ,2 ,3, 4, 5],
    [6 ,7 ,8, 9,10],
    [11,12,13,14,15],
    [16,17,18,19,20],
    [21,22,23,24,25]
    ]
sum=0
for i in range(len(arr)):
  for j in range(len(arr[i])):
    if i!=len(arr)-j-1 and j<i+1:
      sum+=arr[i][j]
print(sum)

184

In [20]:
1+6+11+16+7+12+18+19+22+23+24+25

184

In [40]:
arr=[
    [1 ,2 ,3, 4, 5],
    [6 ,7 ,8, 9,10],
    [11,12,13,14,15],
    [16,17,18,19,20],
    [21,22,23,24,25]
    ]
for i in range(len(arr)):
  for j in range(len(arr[i])):
    if (i==len(arr)-j-1 or j==i or j==len(arr)-1 or j==0) and (i!=3 and j%2!=1) :
      arr[i][j]="*"
arr

[['*', 2, 3, 4, '*'],
 ['*', 7, 8, 9, '*'],
 ['*', 12, '*', 14, '*'],
 [16, 17, 18, 19, 20],
 ['*', 22, 23, 24, '*']]

In [50]:
lists =[["*" if j <i+1 else 0 for j in range(5)] for i in range(5)]
lists

[['*', 0, 0, 0, 0],
 ['*', '*', 0, 0, 0],
 ['*', '*', '*', 0, 0],
 ['*', '*', '*', '*', 0],
 ['*', '*', '*', '*', '*']]

In [49]:
lists =[[0 if j==i or i==4-j else 1 for j in range(5)] for i in range(5)]
lists

[[0, 1, 1, 1, 0],
 [1, 0, 1, 0, 1],
 [1, 1, 0, 1, 1],
 [1, 0, 1, 0, 1],
 [0, 1, 1, 1, 0]]