<a href="https://colab.research.google.com/github/Davron030901/Daily_python/blob/main/Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
myset = {"apple", "banana", "cherry"}
print(myset)

{'cherry', 'apple', 'banana'}

**Set**

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

* Note: Set items are unchangeable, but you can remove items and add new items.

Sets are written with curly brackets.

*Set Items*

Set items are unordered, unchangeable, and do not allow duplicate values.

*Unordered*

Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

*Unchangeable*

Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.

*Duplicates Not Allowed*

Sets cannot have two items with the same value.

In [2]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'apple', 'banana'}

In [3]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'apple', 'banana', 'cherry'}

Get the Length of a Set
To determine how many items a set has, use the len() function.

In [5]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

Set Items - Data Types
Set items can be of any data type:

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [6]:
print(set1)
print(set2)
print(set3)

NameError: name 'set1' is not defined

In [7]:
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{'abc', True, 34, 'male', 40}

**type()**

From Python's perspective, sets are defined as objects with the data type 'set':

*<class 'set'>*

In [8]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

*The set() Constructor*
It is also possible to use the *set()* constructor to make a set.

In [9]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'apple', 'banana'}

*Access Items*

In [10]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
apple
banana

In [11]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [12]:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

Add Items

In [13]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'cherry', 'apple', 'banana'}

Add Sets

In [14]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'apple', 'banana', 'papaya', 'pineapple', 'cherry', 'mango'}

Add Any Iterable

In [15]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'banana', 'orange', 'cherry', 'apple', 'kiwi'}

Remove Set Items

In [16]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [17]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

Remove a random item by using the *pop()* method

In [18]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'apple', 'banana'}

In [19]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [20]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

Loop Items

In [22]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
apple
banana

**Join Sets**

There are several ways to join two or more sets in Python.

The *union()* and *update()* methods joins all items from both sets.

The *intersection()* method keeps ONLY the duplicates.

The *difference()* method keeps the items from the first set that are not in the other set(s).

The *symmetric_difference()* method keeps all items EXCEPT the duplicates.

Union
The *union()* method returns a new set with all items from both sets.

In [23]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

You can use the | operator instead of the *union()* method, and you will get the same result.

In [24]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

Join Multiple Sets

In [25]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{'Elena', 1, 2, 3, 'a', 'bananas', 'b', 'cherry', 'apple', 'John', 'c'}

In [26]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{'Elena', 1, 2, 3, 'a', 'bananas', 'b', 'cherry', 'apple', 'John', 'c'}

*Join a Set and a Tuple*

The *union()* method allows you to join a set with other data types, like lists or tuples.

The result will be a set.

In [27]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'a', 'b', 'c'}

*Update*

The *update()* method inserts all items from one set into another.

The *update()* changes the original set, and does not return a new set.

In [28]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'b', 'c'}

Intersection
Keep ONLY the duplicates

The *intersection()* method will return a new set, that only contains the items that are present in both sets.

In [29]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [30]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [31]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [32]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

*Difference*
The *difference()* method will return a new set that will contain only the items from the first set that are not present in the other set.

In [33]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'cherry', 'banana'}

You can use the - operator instead of the *difference()* method, and you will get the same result.

In [34]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'cherry', 'banana'}

The *difference_update()* method will also keep the items from the first set that are not in the other set, but it will change the original set instead of returning a new set.

In [35]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'cherry', 'banana'}

Symmetric Differences
The **symmetric_difference()** method will keep only the elements that are NOT present in both sets.

In [36]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'banana', 'cherry', 'microsoft', 'google'}

You can use the **^** operator instead of the **symmetric_difference()** method, and you will get the same result.

In [37]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'banana', 'cherry', 'microsoft', 'google'}

The *symmetric_difference_update()* method will also keep all but the duplicates, but it will change the original set instead of returning a new set.

In [38]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'banana', 'microsoft', 'cherry', 'google'}

***Set Methods***

*add()*	 	Adds an element to the set

In [39]:
fruits = {"apple", "banana", "cherry"}

fruits.add("orange")

print(fruits)

{'orange', 'cherry', 'apple', 'banana'}

Definition and Usage
The *add()* method adds an element to the set.

If the element already exists, the *add()* method does not add the element.

Syntax
set.add(elmnt)
Parameter Values
Parameter	Description
elmnt	Required. The element to add to the set

In [40]:
fruits = {"apple", "banana", "cherry"}

fruits.add("apple")

print(fruits)

{'cherry', 'apple', 'banana'}

*clear()* 	Removes all the elements from the set

Definition and Usage
The *clear()* method removes all elements in a set.

Syntax
*set.clear()*
Parameter Values
No parameters

In [41]:
fruits = {"apple", "banana", "cherry"}

fruits.clear()

print(fruits)

set()

*copy()*	 	Returns a copy of the set

Definition and Usage
The *copy()* method copies the set.

Syntax
*set.copy()*
Parameter Values
No parameters

In [42]:
fruits = {"apple", "banana", "cherry"}

x = fruits.copy()

print(x)

{'cherry', 'apple', 'banana'}

*difference()*	-	Returns a set containing the difference between two or more sets

In [43]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'cherry', 'banana'}

Definition and Usage
The *difference()* method returns a set that contains the difference between two sets.

Meaning: The returned set contains items that exist only in the first set, and not in both sets.

As a shortcut, you can use the - operator instead, see example below.

Syntax
*set.difference(set1, set2 ... etc.)*
Parameter Values
Parameter	Description
set1	Required. The set(s) to check for differences in.
set2	Optional. The other set to search for equal items in.
You can compare as many sets you like.
Separate the sets with a comma.
See examples below.
Shorter Syntax
set - set1 - set2 .... etc.
Parameter Values
Parameter	Description
set1	Required. The set(s) to check for differences in.
set2	Optional. The other set to search for equal items in.
You can compare as many sets you like.
Separate the sets with - (a minus operator).
See examples below.

In [44]:
a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple"}

myset = a - b

print(myset)

{'cherry', 'banana'}

In [45]:
a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple"}
c = {"cherry", "micra", "bluebird"}

myset = a.difference(b, c)

print(myset)

{'banana'}

In [46]:
a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple"}
c = {"cherry", "micra", "bluebird"}

myset = a - b - c

print(myset)

{'banana'}

In [47]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = y.difference(x)

print(z)

{'microsoft', 'google'}

*difference_update()*	-=	Removes the items in this set that are also included in another, specified set

In [48]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

{'cherry', 'banana'}

Definition and Usage
The *difference_update()* method removes the items that exist in both sets.

The *difference_update()* method is different from the difference() method, because the difference() method returns a new set, without the unwanted items, and the *difference_update()* method removes the unwanted items from the original set.

As a shortcut, you can use the -= operator instead, see example below.

Syntax
*set.difference_update(set1, set2 ... etc.)*
Parameter Values
Parameter	Description
set1	Required. The set(s) to check for differences in.
set2	Optional. The other set to search for equal items in.
You can compare as many sets you like.
Separate the sets with a comma.
See examples below.
Shorter Syntax
*set -= set1 | set2 ... etc.*
Parameter Values
Parameter	Description
set1	Required. The set(s) to check for differences in.
set2	Optional. The other set to search for equal items in.
You can compare as many sets you like.
Separate the sets with | (a pipe operator).
See examples below.

In [49]:
a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple"}

a -= b

print(a)

{'cherry', 'banana'}

In [50]:
a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple"}
c = {"cherry", "micra", "bluebird"}

a.difference_update(b, c)

print(a)

{'banana'}

In [51]:
a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple"}
c = {"cherry", "micra", "bluebird"}

a -= b | c

print(myset)

{'banana'}

*discard()*	 	Remove the specified item

Definition and Usage
The *discard()* method removes the specified item from the set.

This method is different from the *remove()* method, because the *remove()* method will raise an error if the specified item does not exist, and the *discard()* method will not.

Syntax
*set.discard(value)*
Parameter Values
Parameter	Description
value	Required. The item to search for, and remove

In [52]:
fruits = {"apple", "banana", "cherry"}

fruits.discard("banana")

print(fruits)

{'cherry', 'apple'}

*intersection()*	&	Returns a set, that is the intersection of two other sets

In [53]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

Definition and Usage
The *intersection()* method returns a set that contains the similarity between two or more sets.

Meaning: The returned set contains only items that exist in both sets, or in all sets if the comparison is done with more than two sets.

As a shortcut, you can use the & operator instead, see example below.

Syntax
*set.intersection(set1, set2 ... etc.)*
Parameter Values
Parameter	Description
set1	Required. The set to search for equal items in
set2	Optional. The other set to search for equal items in.
You can compare as many sets you like.
Separate the sets with a comma
Shorter Syntax
set & set1 & set2 ... etc.
Parameter Values
Parameter	Description
set1	Required. The set to search for equal items in
set2	Optional. The other set to search for equal items in.
You can compare as many sets you like.
Separate the sets with & (a and operator).
See examples below.

In [54]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x & y

print(z)

{'apple'}

In [55]:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

result = x.intersection(y, z)

print(result)

{'c'}

In [56]:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

result = x & y & z

print(result)

{'c'}

*intersection_update()	&=*	Removes the items in this set that are not present in other, specified set(s)

Definition and Usage
The *intersection_update()* method removes the items that is not present in both sets (or in all sets if the comparison is done between more than two sets).

The *intersection_update()* method is different from the intersection() method, because the intersection() method returns a new set, without the unwanted items, and the *intersection_update()* method removes the unwanted items from the original set.

As a shortcut, you can use the &= operator instead, see example below.

Syntax
*set.intersection_update(set1, set2 ... etc)*
Parameter Values
Parameter	Description
set1	Required. The set to search for equal items in
set2	Optional. The other set to search for equal items in.
You can compare as many sets you like.
Separate the sets with a comma
Shorter Syntax
set &= set1 & set2 ... etc.
Parameter Values
Parameter	Description
set1	Required. The set to search for equal items in
set2	Optional. The other set to search for equal items in.
You can compare as many sets you like.
Separate the sets with & (a and operator).
See examples below.

In [57]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [58]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x &= y

print(x)

{'apple'}

In [59]:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

x.intersection_update(y, z)

print(x)

{'c'}

In [60]:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

x &= y & z

print(result)

{'c'}

*isdisjoint()*	 	Returns whether two sets have a intersection or not

In [61]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

Definition and Usage
The *isdisjoint()* method returns True if none of the items are present in both sets, otherwise it returns False.

Syntax
*set.isdisjoint(set)*
Parameter Values
Parameter	Description
set	Required. The set to search for equal items in

In [62]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.isdisjoint(y)

print(z)

False

*issubset()*	<=	Returns whether another set contains this set or not

In [66]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

False

Definition and Usage
The *issubset()* method returns True if all items in the set exists in the specified set, otherwise it returns False.

As a shortcut, you can use the <= operator instead, see example below.

Syntax
*set.issubset(set1)*
Shorter Syntax
set <= set1
Parameter Values
Parameter	Description
set1	Required. The set to search for equal items in

In [64]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x <= y

print(z)

True

In [65]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b"}

z = x.issubset(y)

print(z)

False

*issuperset()*	>=	Returns whether this set contains another set or not

In [67]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

Definition and Usage
The *issuperset()* method returns True if all items in the specified set exists in the original set, otherwise it returns False.

As a shortcut, you can use the >= operator instead, see example below.

Syntax
*set.issuperset(set)*
Shorter Syntax
set >= set1
Parameter Values
Parameter	Description
set	Required. The set to search for equal items in

In [68]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x >= y

print(z)

True

In [69]:
x = {"f", "e", "d", "c", "b"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

False

*pop()*	 	Removes an element from the set

In [78]:
fruits = {"apple", "banana", "cherry"}

fruits.pop()

print(fruits)

{'apple', 'banana'}

Definition and Usage
The *pop()* method removes a random item from the set.

This method returns the removed item.

Syntax
*set.pop()*
Parameter Values
No parameter values.

In [76]:
fruits = {"apple", "banana", "cherry"}

x = fruits.pop()

print(x)

cherry

*remove()*	 	Removes the specified element

Definition and Usage
The *remove()* method removes the specified element from the set.

This method is different from the *discard()* method, because the *remove()* method will raise an error if the specified item does not exist, and the *discard()* method will not.

Syntax
*set.remove(item)*
Parameter Values
Parameter	Description
item	Required. The item to search for, and remove

In [79]:
fruits = {"apple", "banana", "cherry"}

fruits.remove("banana")

print(fruits)

{'cherry', 'apple'}

*symmetric_difference()*	^	Returns a set with the symmetric differences of two sets

In [80]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'banana', 'cherry', 'microsoft', 'google'}

Definition and Usage
The *symmetric_difference()* method returns a set that contains all items from both set, but not the items that are present in both sets.

Meaning: The returned set contains a mix of items that are not present in both sets.

As a shortcut, you can use the ^ operator instead, see example below.

Syntax
*set.symmetric_difference(set1)*
Shorter Syntax
set ^ set1
Parameter Values
Parameter	Description
set1	Required. The set to check for matches in

In [81]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x ^ y

print(z)

{'banana', 'cherry', 'microsoft', 'google'}

**symmetric_difference_update()**	^=	Inserts the symmetric differences from this set and another

In [82]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'banana', 'microsoft', 'cherry', 'google'}

Definition and Usage
The **symmetric_difference_update()** method updates the original set by removing items that are present in both sets, and inserting the other items.

As a shortcut, you can use the ^= operator instead, see example below.

Syntax
*set.symmetric_difference_update(set1)*
Shorter Syntax
set ^= set1
Parameter Values
Parameter	Description
set1	Required. The set to check for matches in

In [83]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x ^= y

print(x)

{'banana', 'microsoft', 'cherry', 'google'}

*union()*	|	Return a set containing the union of sets

In [84]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'microsoft', 'apple', 'banana', 'cherry', 'google'}

Definition and Usage
The *union()* method returns a set that contains all items from the original set, and all items from the specified set(s).

You can specify as many sets you want, separated by commas.

It does not have to be a set, it can be any iterable object.

If an item is present in more than one set, the result will contain only one appearance of this item.

As a shortcut, you can use the | operator instead, see example below.

Syntax
*set.union(set1, set2...)*
Parameter Values
Parameter	Description
set1	Required. The iterable to unify with
set2	Optional. The other iterable to unify with.
You can compare as many iterables as you like.
Separate each iterable with a comma
Shorter Syntax
set | set1 | set2 ...
Parameter Values
Parameter	Description
set1	Required. The iterable to unify with
set2	Optional. The other iterable to unify with.
You can compare as many iterables as you like.
*Separate each iterable with | (a pipe operator).*
See examples below.

In [85]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x | y

print(z)

{'microsoft', 'apple', 'banana', 'cherry', 'google'}

In [86]:
x = {"a", "b", "c"}
y = {"f", "d", "a"}
z = {"c", "d", "e"}

result = x.union(y, z)

print(result)

{'e', 'a', 'b', 'f', 'd', 'c'}

In [87]:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

result = x | y | z

print(result)

{'a', 'd', 'g', 'b', 'f', 'e', 'c'}

*update()*	|=	Update the set with the union of this set and others

In [88]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

{'microsoft', 'apple', 'banana', 'cherry', 'google'}

Definition and Usage
The *update()* method updates the current set, by adding items from another set (or any other iterable).

If an item is present in both sets, only one appearance of this item will be present in the updated set.

As a shortcut, you can use the |= operator instead, see example below.

Syntax
*set.update(set1, set2 ...)*
Parameter Values
Parameter	Description
set1	Required. The iterable insert into the current set
set2	Optional. More iterables to insert into the current set.
You can insert as many iterables as you like.
Separate each iterable with a comma.
Shorter Syntax
set |= set1 | set2 ...
Parameter Values
Parameter	Description
set1	Required. The set to insert into the current set.
set2	Optional. More sets to insert into the current set.
You can insert as many sets you like.
Separate the sets with | (pipe operator).
See examples below.

In [89]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x |= y

print(x)

{'microsoft', 'apple', 'banana', 'cherry', 'google'}

In [90]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = {"cherry", "micra", "bluebird"}

x.update(y, z)

print(x)

{'microsoft', 'apple', 'banana', 'micra', 'cherry', 'bluebird', 'google'}

In [91]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = {"cherry", "micra", "bluebird"}

x |= y | z

print(x)

{'banana', 'micra', 'cherry', 'microsoft', 'google', 'apple', 'bluebird'}