<a href="https://colab.research.google.com/github/Davron030901/Daily_python/blob/main/Time.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import dtime

In [1]:
class User:
   def __init__(self, name, parol):
      self.name = name
      self.parol = parol
      self.isauthontificated = False

   def login(self, username, password):
      if self.name == username and self.parol == password:
         self.isauthontificated = True
         print("Tizimga muvaffaqiyatli kirdingiz!")
      else:
         print("Username yoki parol xato")

   def logout(self):
      self.isauthontificated = False
      print(f"{self.name} foydalanuvchi tizmidan muvvaffaqqiyatli chiqarildi" )

class Admin(User):
   def __init__(self, name, parol):
      super().__init__(name, parol)
      self.products = []

   def add_product(self, prod_name, prod_price):
      product = {"name": prod_name, "price": prod_price}
      self.products.append(product)
      print(f"{product['name']} mahsuloti qo'shildi")

   def remove_product(self, prod_name):
      self.product = [product for product in self.products if product['name']==prod_name]
      print(f"{self.product} o'chirildi")

   def view_products(self):
      print("Mahsulotlar ro'yhati: \n")
      for prod in self.products:
         print(f"* {prod['name']}: {prod['price']} so'm")

class Customer(User):
   def __init__(self, name, parol):
      super().__init__(name, parol)
      self.cart = []

   def add_to_cart(self, product):
      self.cart.append(product)
      print(f"{product} Mahsulot savatchaga qo'shildi")

   def view_cart(self):
      if not self.cart:
         print("Savatcha bo'sh.")
      else:
         print("Savatchadagi mahsulotlar: \n")
         for product in self.cart:
            print(f"* {product['name']}: {product['price']}")

In [2]:
user = User("admin", "123")
admin = Admin("admin", "123")
admin.login("admin", "123")
# admin.logout()
admin.add_product("Laptop", "1234567")
admin.view_products()
custom = Customer("user", "123")
custom.add_to_cart({"name" : "Laptop", "price": 50000000})
custom.view_cart()

Tizimga muvaffaqiyatli kirdingiz!
Laptop mahsuloti qo'shildi
Mahsulotlar ro'yhati:

* Laptop: 1234567 so'm
{'name': 'Laptop', 'price': 50000000} Mahsulot savatchaga qo'shildi
Savatchadagi mahsulotlar:

* Laptop: 50000000

In [3]:
class User:
   def __init__(self, name, parol):
      self.name = name
      self.parol = parol
      self.isauthontificated = False

   def login(self, username, password):
      if self.name == username and self.parol == password:
         self.isauthontificated = True
         print("Tizimga muvaffaqiyatli kirdingiz!")
      else:
         print("Username yoki parol xato")

   def logout(self):
      self.isauthontificated = False
      print(f"{self.name} foydalanuvchi tizmidan muvvaffaqqiyatli chiqarildi" )

class Admin(User):
   def __init__(self, name, parol):
      super().__init__(name, parol)
      self.products = []

   def add_product(self, prod_name, prod_price):
      product = {"name": prod_name, "price": prod_price}
      self.products.append(product)
      print(f"{product['name']} mahsuloti qo'shildi")

   def remove_product(self, prod_name):
      self.product = [product for product in self.products if product['name']==prod_name]
      print(f"{self.product} o'chirildi")

   def view_products(self):
      print("Mahsulotlar ro'yhati: \n")
      for prod in self.products:
         print(f"* {prod['name']}: {prod['price']} so'm")

class Customer(User):
   def __init__(self, name, parol):
      super().__init__(name, parol)
      self.cart = []

   def add_to_cart(self, product):
      self.cart.append(product)
      print(f"{product} Mahsulot savatchaga qo'shildi")

   def view_cart(self):
      if not self.cart:
         print("Savatcha bo'sh.")
      else:
         print("Savatchadagi mahsulotlar: \n")
         for product in self.cart:
            print(f"* {product['name']}: {product['price']}")

In [4]:
user = User("admin", "123")
admin = Admin("admin", "123")
admin.login("admin", "123")
# admin.logout()
admin.add_product("Laptop", "1234567")
admin.view_products()
custom = Customer("user", "123")
custom.add_to_cart({"name" : "Laptop", "price": 50000000})
custom.view_cart()

Tizimga muvaffaqiyatli kirdingiz!
Laptop mahsuloti qo'shildi
Mahsulotlar ro'yhati:

* Laptop: 1234567 so'm
{'name': 'Laptop', 'price': 50000000} Mahsulot savatchaga qo'shildi
Savatchadagi mahsulotlar:

* Laptop: 50000000

In [19]:
from datetime import datetime

In [14]:
# Get current date and time
current_time = datetime.now()
print(current_time)

# Create a specific date
specific_date = datetime(2024, 1, 15,5,9,29,564740)
print(specific_date)

# Format date as a string
formatted_date = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_date)

2024-11-27 04:16:46.764888
2024-01-15 05:09:29.564740
2024-11-27 04:16:46

In [15]:
current_time = datetime.utcnow()
print(current_time)

2024-11-27 04:17:48.750068

In [17]:
datetime.today()

datetime.datetime(2024, 11, 27, 4, 21, 30, 607502)

In [29]:
import calendar
import datetime

# Get the calendar for a specific month and year
cal = calendar.month(2024, 3)  # March 2024
print(cal)

# Get a text calendar
text_calendar = calendar.TextCalendar()
print(text_calendar.formatmonth(2024, 3))  # March 2024

     March 2024
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

     March 2024
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [21]:
# Get day of the week (0 = Monday, 6 = Sunday)
day_of_week = calendar.weekday(2024, 3, 15)
print(f"Day of week: {day_of_week}")

# Check if a year is a leap year
is_leap = calendar.isleap(2024)
print(f"Is 2024 a leap year? {is_leap}")

# Get number of days in a month
days_in_month = calendar.monthrange(2024, 3)
print(f"Days in March 2024: {days_in_month[1]}")

Day of week: 4
Is 2024 a leap year? True
Days in March 2024: 31

In [22]:
# Current date
today = datetime.date.today()

# Add or subtract days
from datetime import timedelta
next_week = today + timedelta(days=7)
previous_month = today - timedelta(days=30)

# First and last day of current month
first_day = today.replace(day=1)
import calendar
last_day = today.replace(day=calendar.monthrange(today.year, today.month)[1])

In [23]:
# Custom calendar with different week start day
custom_cal = calendar.LocaleTextCalendar(firstweekday=6)  # Sunday start
print(custom_cal.formatmonth(2024, 3))

     March 2024
Su Mo Tu We Th Fr Sa
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

In [27]:
from datetime import datetime

bugun = datetime.now()
kun_nomi = bugun.strftime("%A")  # Haftaning to'liq nomi
kun_qisqasi = bugun.strftime("%a")  # Haftaning qisqartirilgan nomi

print(f"Bugun: {kun_nomi}")
print(f"Bugun: {kun_qisqasi}")

Bugun: Wednesday
Bugun: Wed

In [31]:
c=calendar.Calendar(0)
c.monthdayscalendar(2024,3)

[[0, 0, 0, 0, 1, 2, 3],
 [4, 5, 6, 7, 8, 9, 10],
 [11, 12, 13, 14, 15, 16, 17],
 [18, 19, 20, 21, 22, 23, 24],
 [25, 26, 27, 28, 29, 30, 31]]

In [64]:
c=calendar.TextCalendar()
c.prmonth(2024,2)

   February 2024
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29

In [38]:
import calendar

# Print calendar for the entire year
def print_full_year_calendar(year):
    # Create a text calendar object
    cal = calendar.TextCalendar(firstweekday=0)  # 0 = Monday

    # Print calendar for each month
    for month in range(1, 13):
        # Print month name and calendar
        print(calendar.month_name[month].center(20))
        print(cal.formatmonth(year, month))
        print()  # Add a blank line between months

# Print current year's calendar
current_year = calendar.datetime.date.today().year
print_full_year_calendar(current_year)

# If you want a specific year, just change the number
# print_full_year_calendar(2025)

      January
    January 2024
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31


      February
   February 2024
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29


       March
     March 2024
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31


       April
     April 2024
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30


        May
      May 2024
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31


        June
     June 2024
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30


        July
     July 2024
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31


       August
    August 2024
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31


     September
   September 2024
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30


      October
    October 2024
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31


      November
   November 2024
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30


      December
   December 2024
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [39]:
import calendar

# Create HTML calendar for a year
def create_html_calendar(year):
    cal = calendar.HTMLCalendar()
    return cal.formatyear(year)

# Generate HTML calendar for current year
html_cal = create_html_calendar(calendar.datetime.date.today().year)
print(html_cal)

<table border="0" cellpadding="0" cellspacing="0" class="year">
<tr><th colspan="3" class="year">2024</th></tr><tr><td><table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">January</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="mon">1</td><td class="tue">2</td><td class="wed">3</td><td class="thu">4</td><td class="fri">5</td><td class="sat">6</td><td class="sun">7</td></tr>
<tr><td class="mon">8</td><td class="tue">9</td><td class="wed">10</td><td class="thu">11</td><td class="fri">12</td><td class="sat">13</td><td class="sun">14</td></tr>
<tr><td class="mon">15</td><td class="tue">16</td><td class="wed">17</td><td class="thu">18</td><td class="fri">19</td><td class="sat">20</td><td class="sun">21</td></tr>
<tr><td class="mon">22</td><td class="tue">23</td><td class="wed">24</td><td class="thu">25</td><td class="fri">26</td><td class="sat">27</td><td class="sun">28</td></tr>
<tr><td class="mon">29</td><td class="tue">30</td><td class="wed">31</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>
</td><td><table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">February</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="thu">1</td><td class="fri">2</td><td class="sat">3</td><td class="sun">4</td></tr>
<tr><td class="mon">5</td><td class="tue">6</td><td class="wed">7</td><td class="thu">8</td><td class="fri">9</td><td class="sat">10</td><td class="sun">11</td></tr>
<tr><td class="mon">12</td><td class="tue">13</td><td class="wed">14</td><td class="thu">15</td><td class="fri">16</td><td class="sat">17</td><td class="sun">18</td></tr>
<tr><td class="mon">19</td><td class="tue">20</td><td class="wed">21</td><td class="thu">22</td><td class="fri">23</td><td class="sat">24</td><td class="sun">25</td></tr>
<tr><td class="mon">26</td><td class="tue">27</td><td class="wed">28</td><td class="thu">29</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>
</td><td><table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">March</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="fri">1</td><td class="sat">2</td><td class="sun">3</td></tr>
<tr><td class="mon">4</td><td class="tue">5</td><td class="wed">6</td><td class="thu">7</td><td class="fri">8</td><td class="sat">9</td><td class="sun">10</td></tr>
<tr><td class="mon">11</td><td class="tue">12</td><td class="wed">13</td><td class="thu">14</td><td class="fri">15</td><td class="sat">16</td><td class="sun">17</td></tr>
<tr><td class="mon">18</td><td class="tue">19</td><td class="wed">20</td><td class="thu">21</td><td class="fri">22</td><td class="sat">23</td><td class="sun">24</td></tr>
<tr><td class="mon">25</td><td class="tue">26</td><td class="wed">27</td><td class="thu">28</td><td class="fri">29</td><td class="sat">30</td><td class="sun">31</td></tr>
</table>
</td></tr><tr><td><table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">April</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="mon">1</td><td class="tue">2</td><td class="wed">3</td><td class="thu">4</td><td class="fri">5</td><td class="sat">6</td><td class="sun">7</td></tr>
<tr><td class="mon">8</td><td class="tue">9</td><td class="wed">10</td><td class="thu">11</td><td class="fri">12</td><td class="sat">13</td><td class="sun">14</td></tr>
<tr><td class="mon">15</td><td class="tue">16</td><td class="wed">17</td><td class="thu">18</td><td class="fri">19</td><td class="sat">20</td><td class="sun">21</td></tr>
<tr><td class="mon">22</td><td class="tue">23</td><td class="wed">24</td><td class="thu">25</td><td class="fri">26</td><td class="sat">27</td><td class="sun">28</td></tr>
<tr><td class="mon">29</td><td class="tue">30</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>
</td><td><table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">May</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="wed">1</td><td class="thu">2</td><td class="fri">3</td><td class="sat">4</td><td class="sun">5</td></tr>
<tr><td class="mon">6</td><td class="tue">7</td><td class="wed">8</td><td class="thu">9</td><td class="fri">10</td><td class="sat">11</td><td class="sun">12</td></tr>
<tr><td class="mon">13</td><td class="tue">14</td><td class="wed">15</td><td class="thu">16</td><td class="fri">17</td><td class="sat">18</td><td class="sun">19</td></tr>
<tr><td class="mon">20</td><td class="tue">21</td><td class="wed">22</td><td class="thu">23</td><td class="fri">24</td><td class="sat">25</td><td class="sun">26</td></tr>
<tr><td class="mon">27</td><td class="tue">28</td><td class="wed">29</td><td class="thu">30</td><td class="fri">31</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>
</td><td><table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">June</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="sat">1</td><td class="sun">2</td></tr>
<tr><td class="mon">3</td><td class="tue">4</td><td class="wed">5</td><td class="thu">6</td><td class="fri">7</td><td class="sat">8</td><td class="sun">9</td></tr>
<tr><td class="mon">10</td><td class="tue">11</td><td class="wed">12</td><td class="thu">13</td><td class="fri">14</td><td class="sat">15</td><td class="sun">16</td></tr>
<tr><td class="mon">17</td><td class="tue">18</td><td class="wed">19</td><td class="thu">20</td><td class="fri">21</td><td class="sat">22</td><td class="sun">23</td></tr>
<tr><td class="mon">24</td><td class="tue">25</td><td class="wed">26</td><td class="thu">27</td><td class="fri">28</td><td class="sat">29</td><td class="sun">30</td></tr>
</table>
</td></tr><tr><td><table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">July</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="mon">1</td><td class="tue">2</td><td class="wed">3</td><td class="thu">4</td><td class="fri">5</td><td class="sat">6</td><td class="sun">7</td></tr>
<tr><td class="mon">8</td><td class="tue">9</td><td class="wed">10</td><td class="thu">11</td><td class="fri">12</td><td class="sat">13</td><td class="sun">14</td></tr>
<tr><td class="mon">15</td><td class="tue">16</td><td class="wed">17</td><td class="thu">18</td><td class="fri">19</td><td class="sat">20</td><td class="sun">21</td></tr>
<tr><td class="mon">22</td><td class="tue">23</td><td class="wed">24</td><td class="thu">25</td><td class="fri">26</td><td class="sat">27</td><td class="sun">28</td></tr>
<tr><td class="mon">29</td><td class="tue">30</td><td class="wed">31</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>
</td><td><table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">August</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="thu">1</td><td class="fri">2</td><td class="sat">3</td><td class="sun">4</td></tr>
<tr><td class="mon">5</td><td class="tue">6</td><td class="wed">7</td><td class="thu">8</td><td class="fri">9</td><td class="sat">10</td><td class="sun">11</td></tr>
<tr><td class="mon">12</td><td class="tue">13</td><td class="wed">14</td><td class="thu">15</td><td class="fri">16</td><td class="sat">17</td><td class="sun">18</td></tr>
<tr><td class="mon">19</td><td class="tue">20</td><td class="wed">21</td><td class="thu">22</td><td class="fri">23</td><td class="sat">24</td><td class="sun">25</td></tr>
<tr><td class="mon">26</td><td class="tue">27</td><td class="wed">28</td><td class="thu">29</td><td class="fri">30</td><td class="sat">31</td><td class="noday">&nbsp;</td></tr>
</table>
</td><td><table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">September</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="sun">1</td></tr>
<tr><td class="mon">2</td><td class="tue">3</td><td class="wed">4</td><td class="thu">5</td><td class="fri">6</td><td class="sat">7</td><td class="sun">8</td></tr>
<tr><td class="mon">9</td><td class="tue">10</td><td class="wed">11</td><td class="thu">12</td><td class="fri">13</td><td class="sat">14</td><td class="sun">15</td></tr>
<tr><td class="mon">16</td><td class="tue">17</td><td class="wed">18</td><td class="thu">19</td><td class="fri">20</td><td class="sat">21</td><td class="sun">22</td></tr>
<tr><td class="mon">23</td><td class="tue">24</td><td class="wed">25</td><td class="thu">26</td><td class="fri">27</td><td class="sat">28</td><td class="sun">29</td></tr>
<tr><td class="mon">30</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>
</td></tr><tr><td><table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">October</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="noday">&nbsp;</td><td class="tue">1</td><td class="wed">2</td><td class="thu">3</td><td class="fri">4</td><td class="sat">5</td><td class="sun">6</td></tr>
<tr><td class="mon">7</td><td class="tue">8</td><td class="wed">9</td><td class="thu">10</td><td class="fri">11</td><td class="sat">12</td><td class="sun">13</td></tr>
<tr><td class="mon">14</td><td class="tue">15</td><td class="wed">16</td><td class="thu">17</td><td class="fri">18</td><td class="sat">19</td><td class="sun">20</td></tr>
<tr><td class="mon">21</td><td class="tue">22</td><td class="wed">23</td><td class="thu">24</td><td class="fri">25</td><td class="sat">26</td><td class="sun">27</td></tr>
<tr><td class="mon">28</td><td class="tue">29</td><td class="wed">30</td><td class="thu">31</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>
</td><td><table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">November</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="fri">1</td><td class="sat">2</td><td class="sun">3</td></tr>
<tr><td class="mon">4</td><td class="tue">5</td><td class="wed">6</td><td class="thu">7</td><td class="fri">8</td><td class="sat">9</td><td class="sun">10</td></tr>
<tr><td class="mon">11</td><td class="tue">12</td><td class="wed">13</td><td class="thu">14</td><td class="fri">15</td><td class="sat">16</td><td class="sun">17</td></tr>
<tr><td class="mon">18</td><td class="tue">19</td><td class="wed">20</td><td class="thu">21</td><td class="fri">22</td><td class="sat">23</td><td class="sun">24</td></tr>
<tr><td class="mon">25</td><td class="tue">26</td><td class="wed">27</td><td class="thu">28</td><td class="fri">29</td><td class="sat">30</td><td class="noday">&nbsp;</td></tr>
</table>
</td><td><table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">December</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="sun">1</td></tr>
<tr><td class="mon">2</td><td class="tue">3</td><td class="wed">4</td><td class="thu">5</td><td class="fri">6</td><td class="sat">7</td><td class="sun">8</td></tr>
<tr><td class="mon">9</td><td class="tue">10</td><td class="wed">11</td><td class="thu">12</td><td class="fri">13</td><td class="sat">14</td><td class="sun">15</td></tr>
<tr><td class="mon">16</td><td class="tue">17</td><td class="wed">18</td><td class="thu">19</td><td class="fri">20</td><td class="sat">21</td><td class="sun">22</td></tr>
<tr><td class="mon">23</td><td class="tue">24</td><td class="wed">25</td><td class="thu">26</td><td class="fri">27</td><td class="sat">28</td><td class="sun">29</td></tr>
<tr><td class="mon">30</td><td class="tue">31</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>
</td></tr></table>

In [40]:
import calendar

# Custom calendar with specific formatting
def custom_calendar(year, week_starts_on=calendar.MONDAY):
    cal = calendar.Calendar(week_starts_on)

    for month in range(1, 13):
        print(f"\n{calendar.month_name[month]} {year}")
        print("Mo Tu We Th Fr Sa Su")

        for week in cal.monthdays2calendar(year, month):
            week_str = ""
            for day, weekday in week:
                if day == 0:
                    week_str += "   "
                else:
                    week_str += f"{day:2d} "
            print(week_str.rstrip())

# Print calendar
custom_calendar(2024)

January 2024
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

February 2024
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29

March 2024
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

April 2024
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

May 2024
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

June 2024
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

July 2024
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

August 2024
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

September 2024
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

October 2024
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

November 2024
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30

December 2024
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [41]:
import time

In [42]:
[i for i in calendar.day_name]

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [45]:
[i for i in calendar.day_abbr]

['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

In [46]:
[i for i in calendar.month_name]

['',
 'January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'December']

In [55]:
[i for i in calendar.month_abbr]

['',
 'Jan',
 'Feb',
 'Mar',
 'Apr',
 'May',
 'Jun',
 'Jul',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'Dec']

In [56]:
day=calendar.weekday(2024,3,15)

In [57]:
day

4

In [61]:
calendar.isleap(2024)

True

In [62]:
days=calendar.monthrange(2024,3)

In [63]:
days

(4, 31)

In [77]:
import pandas as pd
import numpy as np

In [102]:
day=int(input("Kunni kiriting: "))
week=int(input("hafta kunini kiriting: "))
d=int(input("Kunni kiriting: "))

Kunni kiriting: 40
hafta kunini kiriting: 1
Kunni kiriting: 50

In [103]:
day_of_week=d-day+week-1
day_of_week%7+1

4

In [106]:
day_of_week=[i for i in calendar.day_abbr]
range_of_month=np.arange(1,260).reshape(37, 7)

In [107]:
pd.DataFrame(range_of_month, columns=day_of_week)

    Mon  Tue  Wed  Thu  Fri  Sat  Sun
0     1    2    3    4    5    6    7
1     8    9   10   11   12   13   14
2    15   16   17   18   19   20   21
3    22   23   24   25   26   27   28
4    29   30   31   32   33   34   35
5    36   37   38   39   40   41   42
6    43   44   45   46   47   48   49
7    50   51   52   53   54   55   56
8    57   58   59   60   61   62   63
9    64   65   66   67   68   69   70
10   71   72   73   74   75   76   77
11   78   79   80   81   82   83   84
12   85   86   87   88   89   90   91
13   92   93   94   95   96   97   98
14   99  100  101  102  103  104  105
15  106  107  108  109  110  111  112
16  113  114  115  116  117  118  119
17  120  121  122  123  124  125  126
18  127  128  129  130  131  132  133
19  134  135  136  137  138  139  140
20  141  142  143  144  145  146  147
21  148  149  150  151  152  153  154
22  155  156  157  158  159  160  161
23  162  163  164  165  166  167  168
24  169  170  171  172  173  174  175
25  176  177  178  179  180  181  182
26  183  184  185  186  187  188  189
27  190  191  192  193  194  195  196
28  197  198  199  200  201  202  203
29  204  205  206  207  208  209  210
30  211  212  213  214  215  216  217
31  218  219  220  221  222  223  224
32  225  226  227  228  229  230  231
33  232  233  234  235  236  237  238
34  239  240  241  242  243  244  245
35  246  247  248  249  250  251  252
36  253  254  255  256  257  258  259